<div class="main-box">
    <div class="title">Please login</div>
    <div class="login-box">
        <form action="">
            <div class="input-row">
                <label for="email"><b>email address</b></label>
                <input type="text" placeholder="Enter Email Address" name="email" required>
            </div>
            <div class="input-row">
                <label for="password"><b>password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <div class="button-row">
                <button>Login</button>
            </div>
        </form>
    </div>
    <a routerLink="/editor" routerLinkActive="active">editor</a>

</div>
