.main-container {
    display: flex;




    .sub-container {
        background-color: lightgray;
        border: solid 1px tomato;
        height: 80vh;
        width:20vw;
        margin: 20px;
    }

}
