<div class="header">
    <div class="left-side">logo</div>
    <div class="right-side">
        <div class="user-name">{{ loggedUserFullName }}</div>
        <div class="logout"><a (click)="onLogOutClicked()">Logout</a></div>
    </div>
</div>
<div class="main-container">
    <div class="tree sub-container">
        <ul>
            <li *ngFor="let manager of hierarchy">
                <app-tree-item [user]='manager'></app-tree-item>
            </li>
        </ul>
    </div>
    <div class="user-details sub-container">
        <app-user-details></app-user-details> 
    </div>
</div>
