.header {
    height: 30px;
    background-color: tomato;
    color: white;

    display: flex;
    justify-content: space-between;

    .right-side {
        display: flex;
    }
}

.main-container {
    display: flex;

    .sub-container {
        background-color: lightgray;
        border: solid 1px tomato;
        min-height: 80vh;
        min-width:20vw;
        margin: 20px;
    }
}
